@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import "blocks/old-styles";
@import "blocks/btn";
@import "blocks/modal-window";
@import "blocks/nav-bar";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: blue;
    font-family: 'Lato', sans-serif;
}