* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-image: url(../img/first-bg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;

}

.header {
    max-width: 940px;
    padding-top: 50px;
    padding-bottom: 205px;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu-list {
    margin-right: 40px;
}

.menu-list:last-child {
    margin-right: 0;
}

.link {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.menu-list a {
    text-transform: uppercase;
    color: #ffffff;
    padding: 5px 0;
    transition: 200ms linear;
}

.img {
    display: block;
    width: 100%;
}

.logo-link {
    padding: 10px;
}

.menu-list a:hover,
.menu-list a:focus {
    color: #fed136;
}

.section {
    max-width: 940px;
    text-align: center;
    margin: 0 auto;
}

.cover {
    padding-bottom: 160px;
}

.subtitle-cover {
    font-family: 'Arial';
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.title-cover {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 75px;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 60px;
}

.btn-cover{
    width: 240px;
    height: 65px;
    border: none;
    border-radius: 4px;
    background-color: #fed136;
    font-family: 'Arial';
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #484543;
    cursor: pointer;
    padding: 5px 10px;
}
 
.services {
    padding-top: 120px;
}

.title {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 20px;
}

.subtitle {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 16px;
    color: #777777;
    padding-bottom: 80px;
}

.text {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 14px;
    color: #777777;
    line-height: 1.6em;
}

.services-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.article-info{
    max-width: 290px;
}

.article-icon{
    margin-bottom: 25px;
}

.article-icon-title{
    font-family: 'Arial';
    font-weight: 700;
    font-size: 18px;
    color: #222222;
    margin-bottom: 20px;
}

.section-portfolio {
    padding-top: 120px;
    background-color: #f7f7f7;
}

.portfolio-wrapper{
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 130px;
    flex-wrap: wrap;

    @media (min-width: 1280px) {
        flex-wrap: nowrap;

    }
}
   
.about {
    margin-top: 130px;
    margin-bottom: 120px;
    max-width: 100%;
    overflow: hidden;
}

.about-image-title, .about-image-subtitle {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 18px;
    color: #222222;
    line-height: 1.6em;
}

.about-image-title {
    text-transform: uppercase;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-about {
    margin-bottom: 90px;
    width: 570px;
}

.first {
    align-self: flex-end;
}

.second {
    align-self: flex-start;
}

.article-about:last-child{
    margin-bottom: 0;
}

.article-wrapper {
    display: flex;
    justify-content: flex-end;
}

.about-text {
    width: 375px;
}

.one, .three {
    text-align: left;
    order: 6;
    padding-left: 30px;
}

.two, .four {
    text-align: right;
    order: 4;
    padding-right: 30px;
}

.about-image {
    order: 5;
}
  
.footer {
   text-align: center;
   margin-bottom: 115px;
   font-family: 'Arial';
   font-weight: 400;
   font-size: 14px;
}

.footer  {
	a {
	   color: #484543;
	}
}
.portfolio-image {
    margin: 0 auto;
}
.nav-bar {
    padding: 0 15px;
    position: relative;

    &__logo {

    }
    &__menu {
        display: none;

        @media (min-width: 768px) {
            display: flex;
        }
        &--active {
            @media (max-width: 767px) {
            display: block;
            background: rgba(0, 0, 0, 0.3);
            position: absolute;
            right: 15px;
            top: 70px;
            width: 100%;
            max-width: 400px;
            padding: 40px;
            text-align: center;
            font-size: 15px;
            }
        }
    }
    &__menu-list {
        margin: 10px 0 10px 0;

        @media (min-width: 768px) {
            margin-right: 40px ;

        }

    }
    &__link {

    }

    &__hamburger-line {
        display: block;
        width: 40px;
        height: 4px;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;

        &--second {
            top: 10px;

        }
        &--third {
            top: 20px;
        }
    }
    &__hamburger {
        width: 40px;
        height: 24px;
        position: relative;

            @media (min-width: 768px) {
                display: none;
            }
            &--active {
                @media (max-width: 767px) {

                .nav-bar__hamburger-line {
                    transform: rotate(45deg);

                }
                .nav-bar__hamburger-line--second {
                    display: none;

                }
                .nav-bar__hamburger-line--third {
                    transform: rotate(-45deg);
                    top: 0;
                }
            }
        }
    }
}